<h3> <i class="fas fa-feather"></i> Let's Share </h3>
<div class="section">
    <p class="lead"> <i class="fas fa-share-alt"></i> Share your Thoughts with the world around you</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Sign In With Google
    </a>
</div>